.license-manager {
	margin-bottom: 2rem;
	border: solid 1px color-mix(in srgb, var(--blockera-product-color) 15%, #ffffff);
	position: relative;
	background-color: #ffffff;
	--inner-space: 22px;

	&:before {
		content: "";
		height: 4px;
		background-color: var(--blockera-product-color);
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		z-index: 1;
	}

	.separator-dot{
		width: 4px;
		height: 4px;
		background-color: #d9d9d9;
		border-radius: 50%;
	}

	.license-card-section.product-header {
		position: relative;
		padding: var(--inner-space);

		.product-title {
			margin: 0;
			padding: 0;
			font-size: 18px;
		}

		.product-details {
			padding: 0;
			margin: 0;
			font-size: 14px;
		}

		.product-logo-container {
			width: 68px;
			height: 68px;
			background-color: color-mix(in srgb, var(--blockera-product-color) 20%, #ffffff);
			border-radius: 4px;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: relative;

			svg {
				width: 24px;
				height: 24px;
				fill: var(--blockera-product-color);
				opacity: 0.5;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 0;
			}

			img {
				z-index: 1;
			}
		}

		.product-status-container {
			position: absolute;
			right: var(--inner-space);
			top: 0;
			bottom: 0;

			.product-status {
				background-color: #ffe5e5;
				color: #bd0000;
				border-radius: 50px;
				font-size: 14px;
				line-height: 29px;
				width: auto;
				height: 29px;
				margin: 0;
				padding: 0 15px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 4px;

				&.lifetime-plan {
					background-color: #ffe9a1;
					color: #695100;
				}

				svg {
					fill: currentColor;
				}
			}
		}
	}

	.license-card-section {
		padding: var(--inner-space) var(--inner-space) calc(var(--inner-space) * 1.3) var(--inner-space);
		gap: var(--inner-space);
		border-top: solid 1px color-mix(in srgb, var(--blockera-product-color) 15%, #ffffff);

		.license-card-description {
			font-size: 14px;
			color: var(--blockera-product-color);
			margin: 0;

			&.no-remaining-websites {
				--blockera-product-color: #d00c0c;
			}

			span {
				font-weight: 500;
				font-size: 13px;
				color: var(--blockera-product-color);
				display: inline-block;
				padding: 0 7px;
				margin-left: 5px;
				border-radius: 2px;
				background-color: color-mix(in srgb, var(--blockera-product-color) 20%, #ffffff);
			}
		}

		.license-card__section-title {
			color: var(--blockera-product-color);
			font-size: 14px;
			font-weight: 600;
			align-items: center;
			display: flex;
			gap: calc(var(--inner-space) * 0.5);
			margin: 0;

			.license-card__section-title__icon {
				width: 26px;
				height: 26px;
				align-items: center;
				justify-content: center;
				background-color: color-mix(in srgb, var(--blockera-product-color) 20%, #ffffff);
				border-radius: 2px;
				flex-direction: column;
				line-height: 26px;
				text-align: center;
				padding: 0;
    			box-sizing: border-box;

				svg {
					fill: var(--blockera-product-color);
					color: var(--blockera-product-color);
				}
			}
		}

		.license-information-row {
			padding: 15px 0;
			align-items: center;
			border-bottom: solid 1px color-mix(in srgb, var(--blockera-product-color) 8%, #ffffff);

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}

			.field-label {
				font-size: 14px;
				font-weight: 500;
				margin: 0;
			}

			.field-value {
				font-size: 14px;
				font-weight: 600;

				.max-websites {
					font-weight: 400;
					color: #676767;
				}
			}

			svg {
				fill: currentColor;
			}

			.status-cancelled,
			.status-expiring,
			.status-expired {
				color: #bd0000;
			}

			.status-active {
				color: #24a939;
			}
		}

		.no-websites-notice {
			background-color: rgb(247 247 247);
			padding: 10px 20px;
			margin: 0px;
			font-size: 13px;
			color: var(--wp--preset--color--contrast);
		}

		.table-container {

			* {
				font-size: 14px;
			}

			.table-column {
				height: 37px;
				padding: 0 10px;
				line-height: 37px;

				* {
					width: 25%;
					font-size: 13px;
				}

				strong:first-child {
					width: calc(50% - 25px);
				}

				strong.table-title:first-child {
					padding-left: 25px;
				}
			}

			.table-row {
				padding: 0 10px;
				border-bottom: solid 1px color-mix(in srgb, var(--blockera-product-color) 15%, #ffffff);

				&:last-child {
					border-bottom: none;
				}

				span:first-child {
					width: 50%;
				}

				*:not(a,svg) {
					width: 25%;
				}

				.blockera-component-button {
					height: 24px;
					width: max-content;
					font-size: 12px;
					font-weight: 500;
				}

				span.domain {
					border: none;
					color: var(--blockera-product-color);
					font-size: 14px;
					font-weight: 500;

					a {
						color: var(--blockera-product-color);
						text-decoration: none;
					}

					svg {
						position: relative;
						top: 7px;
						fill: var(--blockera-product-color);
						width: 20px;
						left: 5px;
					}
				}

				span.number {
					color: #b6b2b2;
					font-size: 14px;
					font-weight: 500;
					width: 15px;
					display: inline-block;
					text-align: left;
					margin-right: 10px;
				}

				button.delete-row {
					color: #616161;
					--blockera-controls-primary-color: #9b9b9b;
					--wp-admin-theme-color: #646464;

					&:hover {
						--blockera-controls-primary-color: #d00c0c;
						--wp-admin-theme-color: #d00c0c;
						--blockera-controls-primary-color-darker-20: #9e0202;
						--wp-admin-theme-color-darker-20: #9e0202;
						color: var(--blockera-controls-primary-color-darker-20);
					}
				}
			}
		}
	}

	.no-remaining-websites-notice {
		--blockera-product-color: #d00c0c;
		color: var(--blockera-product-color);
		background-color: color-mix(in srgb, var(--blockera-product-color) 10%, #ffffff);
		padding: 10px 20px;
		margin: 0px;
		font-size: 14px;
		border-radius: 2px;

		svg {
			fill: currentColor;
		}
	}

	.license-button-primary {
		background-color: var(--blockera-product-color) !important;
		align-items: center;
		display: flex;
		color: #ffffff;
		border: none;
		font-size: 12px;
		cursor: pointer;
		border-radius: 2px;
		width: 75px;
		height: 24px;
		text-transform: uppercase;
	}
}

.delete-modal {

	.components-modal__content {
		font-size: 15px;

		h1 {
			font-size: 18px;
		}

		p {
			font-size: 15px;
		}

		button.delete-row {
			--blockera-controls-primary-color: #d00c0c;
			--wp-admin-theme-color: #d00c0c;
			--blockera-controls-primary-color-darker-20: #9e0202;
			--wp-admin-theme-color-darker-20: #9e0202;
		}
	}
}

.components-tooltip.blockera-component.blockera-component-tooltip {
	background-color: transparent !important;
	box-shadow: none !important;

	.blockera-component-tooltip {
		background-color: #ffffff;
		color: #000000;
		border: solid 1px #000000;
		width: 405px;
		text-align: left;
		padding: 15px;
		font-size: 14px;
		font-weight: 500;
	}
}

#blockera-site-toolkit-consent-form {
	height: 100%;
	background-color: #eff4ff;
	position: relative;
	text-align: center;

	.consent-form {
		text-align: center;

		.client-website {
			margin: 1rem auto;
			width: 166px;
			height: 29px;
			line-height: 29px;
			background-color: #0051e7 !important;
			color: #ffffff;
			border: none;
			border-radius: 3px;
			padding: 5px 10px;
			font-size: 16px;
			font-weight: 700;

			.client-website-scheme {
				color: #80adff !important;
			}
		}

		.license-box-wrapper {
			width: 610px;
			margin: 0 auto;
			position: relative;

			&::before {
				content: "";
				width: 2px;
				height: 80px;
				z-index: -1;
				position: absolute;
				top: -120px;
				background-image: linear-gradient(142deg, #0551e7, #ffffff00);
			}
		}

		.license {
			background-color: #ffffff;
			border: solid 1px #cfe0ff;
			border-radius: 3px;
			padding: 2px 15px;
			height: 90px;

			.product-title {
				margin: 0;
				padding: 0;
				text-align: left;
				font-size: 20px;
			}

			.product-details {
				padding: 0;
				margin: 0;
				font-size: 17px;
			}
		}

		.connect-button {
			margin: 1rem auto;
			width: 390px;
			height: 45px;
			background-color: #0051e7 !important;
			align-items: center;
			display: flex;
			color: #ffffff;
			border: none;
			border-radius: 3px;
			padding: 20px 10px;
			font-size: 16px;
			font-weight: 700;
			cursor: pointer;
			position: relative;

			&::before {
				content: "";
				width: 2px;
				height: 80px;
				z-index: -1;
				position: absolute;
				top: -80px;
				background-image: linear-gradient(142deg, #0551e7, #ffffff00);
			}
		}
	}
}
